.photo-details-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 800px;
  height: auto;
  max-height: 90%;
  overflow-y: auto;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-details-modal__close-button {
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.photo-details-modal__image-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-details-modal__image {
  width: 100%;
  height: auto;
  max-height: 500px; /* Adjust as needed */
  object-fit: contain;
  border-radius: 8px;
}

.photo-details-modal__fav-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.photo-details-modal__photographer-details {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-top: 10px;
}

.photo-details-modal__photographer-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
  width: 40px;
  height: 40px;
}

.photo-details-modal__photographer-info {
  font-weight: 700;
  font-size: 12px;
  margin-left: 8px;
}

.photo-details-modal__photographer-location {
  color: #838383;
}

.photo-details-modal__header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 90%;
}

.similar-photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

.similar-photo-container {
  position: relative;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.similar-photo-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
}

.similar-photo-info {
  text-align: center;
  margin-top: 5px;
}

.similar-photo-container .photo-fav-button {
  position: absolute;
  top: 5px;
  right: 5px;
}